<app-header></app-header>
<main>

    <h4>CADASTRO</h4>
    <div class="inputs">
        <div class="nome">
            <label for="nome">Nome: </label><br>
            <input type="text" id="nome">
        </div>

        <div class="email">
            <label for="E-mail">E-mail: </label><br>
            <input type="text" id="E-mail">
        </div>

        <div class="Telefone">
            <label for="Telefone">Telefone: </label><br>
            <input type="text" id="Telefone">
        </div>
    </div>

    <button class="cadastrar">cadastra</button>

    <div class="paulo">
        <p>Paulo Andre</p>
        <p>paulo@email.com</p>
        <p>3349 6788</p>
        <button class="editar">editar</button>
        <button class="excluir">excluir</button>
    </div>

    <br>

    <div class="marcos">
        <p>Marcos Lucio</p>
        <p>marcos@email.com</p>
        <p>3349 6788</p>
        <button class="editar">editar</button>
        <button class="excluir">excluir</button>
    </div>

    <br>

    <div class="laura">
        <p>Laura Port </p>
        <p>laura@email.com</p>
        <p>3349 6788</p>
        <button class="editar">editar</button>
        <button class="excluir">excluir</button>
    </div>

</main>