<header>
    <div class="toda_parte_de_cima">
        <div class="img_e_texto">
            <img src="../../assets/img (desafio_angular).png">
            <p>{{mensagemHeader}}</p>
        </div>

        <div class="links">
            <nav>
                <ul>
                    <li><a routerLink="../primeiro-main" title="link home">Home</a></li>
                    <li><a routerLink="../segundo-main-usuario" title="link Usuarios">Usuarios</a></li>
                    <li><a routerLink="../terceiro-main-filmes" title="link filmes">Filmes</a></li>
                    <li><a routerLink="../quarto-main-genero" title="link genero">Genero</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>