<app-header></app-header>
<main>
    <div class="titulo_img">
        <h3>Genero</h3>
        <img src="../../assets/mascara(desafio_angular).png">
    </div>

    <div class="cadastra_botao">
        <div class="cadastra">
            <label for="cadastrar">Cadastrar Genero: </label><br>
            <input type="text" id="cadastra" placeholder="Genero">
        </div>

        <button class="salvar">salvar</button>
    </div>

    <!-- seguda parte do site -->
    <div class="primeiro_segundo_terceiro">
        <div class="primeiro_genero">
            <p>terror</p>
            <button class="editar">editar</button>
            <button class="excluir">excluir</button>
        </div>

        <div class="segundo_genero">
            <p>ação</p>
            <button class="editar">editar</button>
            <button class="excluir">excluir</button>
        </div>

        <div class="terceiro_genero">
            <p>comedia</p>
            <button class="editar">editar</button>
            <button class="excluir">excluir</button>
        </div>
    </div>

</main>