 <app-header></app-header> 
<main>
    <div class="titulo_img">
        <h3>filmes</h3>
        <img src="../../assets/cinema(desafio_angular).png">
    </div>

    <br>

    <div class="parte_de_escolhar_do_filme">
        <div class="cadastra_filme">
            <label for="cadastrar">cadastrar filmes: </label><br>
            <input type="text" id="cadastra" placeholder="Título do Filme">
        </div>


        <select id="genero" name="genero">
            <option value="genero">genero</option>
            <option value="romance">romance</option>
            <option value="terror">terror</option>
            <option value="drama">drama</option>
        </select>

        <button class="salvar">salvar</button>
    </div>

    <div class="nomes_genero_botoes">
        <div class="nomes">
            <p>Os outros</p>
            <p>Até o último homem</p>
            <p>O máscara</p>
        </div>

        <div class="genero">
            <p>terror</p>
            <p>ação</p>
            <p>comedia</p>
        </div>

    
        <div >
            <button class="editar">editar</button>
            <br>
            <button class="editar">editar</button>
            <br>
            <button class="editar">editar</button>
        </div>

        <div >
            <button class="excluir">excluir</button>
            <br>
            <button class="excluir">excluir</button>
            <br>
            <button class="excluir">excluir</button>
        </div>
    </div>
    

</main>