h1{
   display: flex;
   justify-content: center;
}

.filmes_categorias{
    margin-top: 40px;
    display: flex;
    margin:  30px 150px 50px 150px;
    
}

.texto_do_main{
    margin: 30px 150px 50px 150px;
}