<app-header></app-header> 
<main>
    <h1>Monte sua coletânea de filmes...</h1>

    <div class="texto_do_main">
    <h4>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor </h4>
    <p> Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet conse
        ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut eiusmod tempor incididunt ut labore aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit. */
    </p>
</div>

    <div class="filmes_categorias">
        <div class="fimes">
            <img src="../../assets/cinema(desafio_angular).png">
            <h4>FILMES</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis, voluptates aut natus dicta
                suscipit voluptas accusantium saepe aperiam qui minima facere perferendis sapiente sint a! Similique
                aperiam dolore dolor quis.</p>
        </div>


        <div class="categoria">
            <img src="../../assets/mascara(desafio_angular).png">
            <h4>CATEGORIA</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis, voluptates aut natus dicta
                suscipit voluptas accusantium saepe aperiam qui minima facere perferendis sapiente sint a! Similique
                aperiam dolore dolor quis.</p>
        </div>

    </div>
</main>